* {
    margin: 0;
    padding: 0;
}
body {
    font-size: 14px;
    font-family: "Microsoft YaHei", sans-serif;
    color: #333;
}
ul{
    list-style: none;
}
a{
    color: #333;
    text-decoration: none;
}

.qq_nav{
	height: 150px;
	position: absolute;
	left: 0;
	top: 0;
	background: url("../images/nav_bg.png") repeat-x;
	width: 100%;
}
.qq_nav .wrapper{
	width: 1080px;
	height: 75px;
	margin: 0 auto;
}
.loog{
	background: url("../images/nav_brand.png") no-repeat center;
	width: 100px;
	height: 75px;
	float: left;
}
.qq_nav .wrapper .nav{
	float: left;
}
.qq_nav .wrapper .nav li{
	float: left;
	line-height: 75px;
	margin-left: 20px;
	font-size:18px;
}
.qq_nav .nav li a{
	display: block;
	padding: 0 20px;
}
.qq_nav li .active,.qq_nav .nav li a:hover{
	background-color: #12b7f5;
}
.qq_nav .other{
	float: right;
	width: 250px;
	height: 75px;
}
.qq_nav .other ul li{
	float: right;
	margin-left: 40px;
}
.qq_nav .other ul{
	width: 250px;
}
.qq_nav .other ul li a{
	font-size: 14px;
	height: 50px;
	line-height: 50px;
	text-shadow: 0 0 2px #333;
}
.qq_nav .other span{
	float: right;
}
.qq_nav .register{
	float: right;
	height: 36px;
	width: 96px;
	background-color: #12b7f5;
	border-radius: 18px;
	margin-top: 19px;
	text-align: center;
	line-height: 36px;
	color:#fff;
	font-size: 16px;
}
.content{
	height: 500px;
	width: 980px;
	margin: 0 auto;
	position: relative;
}

.qq_banner{
    background: url(../images/banner-bg.jpg) no-repeat center top;
	height: 880px;
	padding-top: 150px;
}
.qq_banner img{
	display: block;
	margin: 20px auto 0;
}
.qq_banner img:last-child{
	width: 100%;
}

.qq_sound h1{
	background: url(../images/sound-text.png) no-repeat center/cover;
	height: 300px;
	font-size: 0;
}
.qq_sound .bg{
	background: url(../images/sound-bg.jpg) no-repeat center/cover;
	background-attachment: fixed;
	height: 500px;
}

.qq_sound .content .iphone{
	background: url(../images/sound-phone.png) no-repeat center top/cover;
	left: 0;
	top: -200px;
	width: 700px;
	height: 700px;
	position: absolute;
}
.qq_sound .content h2{
	float: right;
	width: 500px;
	font-size: 40px;
	padding-top: 100px;
	text-align: right;
}
.qq_sound .content p{
	padding-top: 50px;
	float: right;
	font-size: 18px;
	text-shadow: 0 0 2px #333;
	width: 500px;
	text-align: right;
}

.qq_file .bg{
	height: 500px;
    background: url(../images/file-bg.jpg) no-repeat center/cover;	
    /* /cover 缩放到正好完全覆盖定义背景的区域。 */
    background-attachment: fixed;
}

.qq_file .content h2{
	float: left;
	width: 500px;
	font-size: 40px;
	padding-top: 100px;
	text-align: left;
}
.qq_file .content p{
	padding-top: 50px;
	float: left;
	font-size: 18px;
	text-shadow: 0 0 2px #333;
	width: 500px;
	text-align: left;
}
.qq_file .content .mac{
	background: url(../images/file-mac.png) no-repeat center/cover;
	right: -60px;
	top: 100px;
	width: 600px;
	height: 340px;
	position: absolute;
}

.qq_interest .bg{
	height: 500px;
    background: url(../images/interest-bg.jpg) no-repeat center/cover;
    background-attachment: fixed;
}

.qq_interest .content h2{
	float: right;
	width: 500px;
	font-size: 40px;
	padding-top: 100px;
	text-align: right;
}
.qq_interest .content p{
	padding-top: 50px;
	float: right;
	font-size: 18px;
	text-shadow: 0 0 2px #333;
	width: 500px;
	text-align: right;
}
.qq_interest .content .phone{
    background: url(../images/interest-phone.png) no-repeat center top/cover;
	left: : 0;
	top: 0;
	width: 350px;
	height: 500px;
	position: absolute;
}

.qq_footer{
	height: 250px;
	font-size: 12px;
	text-align: center;
	padding-top: 50px;
	color: #666;
	background: #2a2a2a;
}
.qq_footer .content{
	height: 100%;
	width: 800px;
	margin: 0 auto;
	position: relative;
}
.qq_footer .plats{
	display: block;
	height: 150px;
	margin: 0 auto;
	width: 100%;
}
.qq_footer .plats a{
	background: url(../images/footer.png) no-repeat 10px 0 ;
	float: left;
	text-align: center;
	font-size:12px;
	color: #666;
	padding-top: 50px;
	width: 80px;
	margin: 0 60px;
}
.qq_footer .plats a.plmb{
	background-position: 0 0;
}
.qq_footer .plats a.plmb:hover{
	background-position: 0 -93px;
}
.qq_footer .plats a.plpc{
	background-position: -105px 0;
}
.qq_footer .plats a.plpc:hover{
	background-position: -105px -93px;
}
.qq_footer .plats a.plmac{
	background-position: -210px 0;
}
.qq_footer .plats a.plmac:hover{
	background-position: -210px -93px;
}
.qq_footer .plats a.plpad{
	background-position: -326px 0;
}
.qq_footer .plats a.plpad:hover{
	background-position: -326px -93px;
}

